<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- SQL dialect -->
		<!-- <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->

		<property name="dialect">org.hibernate.dialect.H2Dialect</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.format_sql">true</property>


		<!-- Mapping files -->
		<mapping resource="com/default/model/User.hbm.xml" />
		<mapping resource="com/default/model/Role.hbm.xml" />


	</session-factory>

</hibernate-configuration>